/*Chrome, FireFox, Safari, IE9+和最新版本的Opera都支持硬件加速，当它们检测到页面中某个DOM元素应用了某些CSS规则时就会开启，最显著的特征的元素的3D变换。
在大多数浏览器中，如果识别到页面里使用了z轴旋转（translateZ），即使旋转角度为0，也会开启GPU加速，所以可以利用这一点，来对页面元素进行0度Z轴旋转来”欺骗”浏览器开启GPU加速。*/

.cube {
-webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0);
/ Other transform properties here /
}

/*CSS中以下属性（transition、CSS3 3D transforms、Canvas、WebGL、Video）也能用来触发GPU渲染*/
